header, footer {
  width: 100vw;
  background-color: white;
  transition: all 5s;
}

header {
  height: 10vh;
}

footer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#images {
  margin-bottom: 20px;
}

#credit, #credit p, #credit a{
  color: lightgrey;
  font-size: 10px;
  padding-top: 40px;
}

a {
  padding: 3vh;
}

#footer-block, #header-block {
  position: absolute;
  height: 20vh;
  width: 100vw;
  background-color: orange;
  z-index: 1;
}

div.body {
  height: 70vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
/*  z-index: -1;*/
}

div#body-block {
  height: 70vh;
  width: 100vw;
  background-color: #ffa500;
  z-index: 1;
  position: absolute;
}

/*.body h1 {
  font-size: 3em;
  color: white;
  letter-spacing: .01em;
}*/

#logo {
  z-index: 1;
  width: 40vw;
  height: 30vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#type-it p {
  position: absolute;
  top: 50vh;
  opacity: 0;
  left: 44vw;
  z-index: 1;
  color: black;
  font-size: .7em;
  letter-spacing: .1em;
  padding-top: 10px;
  border-top: 1px solid grey;
}

h1 {
  position: absolute;
  padding: 2vh;
  font-size: 3em;
  color: white;
  letter-spacing: .01em;
  opacity: 0;
  transition: opacity 2s, color 1s;
}

p {
  position: absolute;
  font-size: 5em;
  color: white;

  transition: color 1s;
}

#bracket-left {
  position: absolute;
  opacity: 0;
  left: 50vw;
  transition: opacity .4s, transform .9s, left 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#bracket-right {
  position: absolute;
  opacity: 0;
  right: 50vw;
  transition: opacity .4s, transform .9s, right 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
