header, footer {
  height: 20vh;
  width: 100vw;
  background-color: grey;
}

.body {
  height: 60vh;
  width: 100vw;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body h1 {
  font-size: 3em;
  color: white;
  letter-spacing: .01em;
}

h1 {
  overflow: hidden;
  opacity: 0;
  transition: opacity 2s;
}

p {
  font-size: 5em;
  color: white;
}

#bracket-left {
  position: absolute;
  opacity: 0;
  left: 50vw;
  transition: transform 1s, left 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#bracket-right {
  position: absolute;
  opacity: 0;
  right: 50vw;
  transition: transform 1s, right 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
