header, footer {
  width: 100vw;
  background-color: white;
  transition: all 5s;
}

header {
  height: 10vh;
  z-index: 0;
}

footer {
  height: 20vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#images {
  margin-bottom: 20px;
  padding-bottom: 30px;

}

#credit, #credit a {
  color: lightgrey;
  font-size: 10px;
  padding-top: 40px;
}

#images a {
  padding: 3vh;

}

img {
  padding-top: 5vh;
  transition: transform 2s;
}

#footer-block {
  position: absolute;
  height: 20vh;
  width: 100vw;
  opacity: 1;
  background-color: orange;
  z-index: 1;
}

#header-block {
  position: absolute;
  height: 10vh;
  width: 100vw;
  opacity: 1;
  background-color: orange;
  z-index: 1;
}

.body {
  height: 70vh;
  width: 100vw;
  background-color: white;
/*  background-color: #f3f3f3;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
/*  box-shadow: inset 3px 3px 30px 0px rgba(0,0,0,0.2);*/
/*  z-index: -1;*/
}

#body-block {
  height: 70vh;
  width: 100vw;
  background-color: #ffa500;
  z-index: 1;
  position: absolute;
}

/*.body h1 {
  font-size: 3em;
  color: white;
  letter-spacing: .01em;
}*/

#logo {
  z-index: 1;
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#type-it p {
  position: absolute;
  top: 50vh;
  opacity: 0;
  left: 44.5vw;
  z-index: 1;
  color: black;
  font-size: .7vw;
  letter-spacing: .1em;
  padding-top: 10px;
  border-top: 3px double #e5b800;
}

h1 {
  position: absolute;
  margin-bottom: 2vh;
  font-size: 3.5vw;
  color: #f3f3f3;
  letter-spacing: .01em;
  opacity: 0;
  transition: opacity 2s, color 1s;
  font-family: 'Crimson Text', sans-serif;
}

p {
  position: absolute;
  font-size: 5.5vw;
  color: #f3f3f3;
  top: 40vh;
  transition: color 1s;
/*  font-family: 'Raleway', sans-serif;*/
}

#bracket-left {
  position: absolute;
  opacity: 0;
  left: 50vw;
  transition: opacity .4s, transform .9s, left 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#bracket-right {
  position: absolute;
  opacity: 0;
  right: 50vw;
  transition: opacity .4s, transform .9s, right 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
